body{
	margin: 0;
	padding: 0;
	font-family: arial 'arialbold' 'helvetica';

}

a{
	text-decoration: none;
}

h1,h2,h3,h4,h5{
	margin: 0;
	padding: 0;

}

.headerOuter{
   
	padding-bottom: 10px;

	background-image: url(../images/shadowGradient.png);
	background-repeat: repeat-x;
	margin-bottom: 20px;
	background-position: bottom;


	
}
.headerBackground{
	background-color: rgb(240,242,245);
	box-shadow:0px 1px 0px 0px rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid #fff;

}

.innerContainer{
	margin:0 auto;
	width: 940px;
}

.slideLeft{
	float: left;
	padding-top: 6px;
	padding-bottom: 2px
	
}
.slideRight{
	float: right;
	padding-top: 9px;
	padding-bottom: 2px;
	
}

.clear{
	clear: both;
}

a.logo{
	float: left;
	width: 195px;
	height: 39px;
	background-image: url(../images/opencourselogo.png);
	background-repeat:no-repeat;
	margin-right: 35px;

}
.slideLeft input[type="search"]{
	width: 358px;
	height: 36px;
	border-radius: 4px;
	border: 1px solid rgb(187,187,187);
	text-indent: 35px;
	background-image: url(../images/search.png);
	background-position: 6px center;
	background-repeat: no-repeat;
	box-shadow: 0px -1px 1px #ddd;
	font-size: 16px;
	color: #bbbbbb;


}

.PullDownHeader{
	font-size: 15px;
	font-family: 'arial';
	margin-right: 30px;
	line-height: 38px;
	float: left;
	font-weight: bold;
}

.slideRight a{
	
	float: left;
	padding-right: 15px;
	background-image: url(../images/dropdown.png);
	background-repeat: no-repeat;
	background-position: right;

	
}
.slideRight a  .pullDownImage
{
	max-width: 30px;
	max-height: 31px;
	display: block;
	 box-shadow: 0px 0px 4px rgba(0,0,0,.15);

}
.slideRight a  .pullDownImage img{
	display: block;
	border: 3px solid #fff;
	border-radius: 4px;
}

.innerContainer ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.innerContainer ul li{
	float: left;
	margin-right: 13px;
	padding-bottom: 14px;

}
.innerContainer .nPtel{
	font-size:15px;
	font-family: arial 'helvetica neue';
	color: #222222;
	

	padding-right: 15px;
	background-image: url(../images/nptelsep.png);
	background-repeat: no-repeat;
	background-position: right;
}

.innerContainer .nPtelCourses{

	font-size:15px;
	font-family: arial 'helvetica neue';
	color: #888888;
	

}

.nptelCourseContainer ul li.clear{
	float: none;
	clear: both;
	width: 0;
	margin: 0;
	padding: 0;
	border: none;
}
.nptelHeading{
	border-bottom: 1px solid rgb(220,220,220);
	margin-bottom: 20px;
}

.nptelCourseContainer{
	float: left;
	margin-right: 20px;
	width: 720px;
}

.nptelCourseContainer ul li{
	float: left;
	border:1px solid rgb(204,204,204);
	margin-right: 20px;
	margin-bottom: 15px;
	padding:0;
	border-radius: 4px;
	width: 218px;
	box-shadow:1px 1px 3px 0px rgba(0, 0, 0, 0.28);
}

.nptelCourseContainer ul li .courseImage{
	padding: 7px;
	margin-bottom: 15px;
	border-bottom: 1px solid rgb(220,220,220);
	max-width: 206px;
	max-height: 126px;
}

.nptelCourseContainer ul li .courseImage img{
	width: 206px;
	height: 126px;
	max-width: 206px;
	max-height: 126px;
	display: block;
}

.nptelCourseContainer ul li ul{
	
	padding-left: 14px;
	padding-right: 14px;
}

.nptelCourseContainer ul li ul li{
	float: none;
	border: none;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	font-size: 11px;
	color: #222222;
	line-height: 30px;
	width: 190px;
	
	
	border-bottom: 1px solid rgb(220,220,220);
}

.nptelCourseContainer ul li div:last-child{
	background-color: rgb(244,246,248);
	border-top: 1px solid #DCDCDC;
}

h3.courseType{
	padding-left: 14px;

	line-height: 20px;
}

.courseType a{
	color: #225588;
	font-size: 13px;
	font-family: arial 'helvetica';
	
	
}

.nptelHeading li.clear{
	clear: both;
	float: none;
	margin: 0;
	padding: 0;

}
.courseVideos{
	
	width: 25px;
	height: 35px;
	background-image: url(../images/videos.png);
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	line-height: 30px;
	font-size: 13px;
	color: #888888;
	margin-left: 14px;

	
}
.courseNotes{
	
	width: 25px;
	height: 35px;
	background-image: url(../images/notes.png);
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	font-size: 13px;
	color: #888888;
	

}

.More{
	line-height: 35px;
	font-size: 13px;
	color: #225588;
	margin-right: 14px;

}
.footer{
	border-top: 1px solid #cecece;
	line-height: 38px;  
}

.footer .footNav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer .footNav ul li{
	float: left;
	margin-right: 15px;
	
}
.footer .footNav ul li a
{
	font-size: 13px;
	font-weight: bold;
	color: #225588;
}
.footer span{
	display: block;
	float: right;
	font-size: 13px;
	color: #888888;
}

.pageAds{
	float: right;

}


 .innerContainer .pageAds ul li{
 	float: none;
 	margin-right: 0;
 	padding: 0;
 	margin-bottom: 20px;
 }
 .innerContainer .pageAds ul li img{
	max-width: 200px;
	max-height: 200px;
}

.courseCounter{
	font-size: 13px;
	line-height: 13px;
	color: #888888;
	font-weight: normal;

}
li div a span.courseCounter{
	float: left;
	width: 25px;
	height: 35px;
	line-height: 35px;
	padding-left: 7px;
	margin-right: 20px;
}

a.clear{
	clear: both;
	display: block;
}
.nptelCourseContainer ul li ul li:Last-child{
	border-bottom: none;
}

