body{
	margin: 0;
	padding: 0;
	font-family: arial 'arialbold' 'helvetica';

}

a{
	text-decoration: none;
}

.headerOuter{
   
	background-color: rgb(240,242,245);
	box-shadow:0px 1px 0px 0px rgba(0, 0, 0, 0.1);
}

.innerContainer{
	margin:0 auto;
	width: 940px;
}

.slideLeft{
	float: left;
	padding-top: 5px;
	padding-bottom: 6px;
}
.slideRight{
	float: right;
	padding-top: 5px;
	padding-bottom: 6px;
}

.clear{
	clear: both;
}

a.logo{
	float: left;
	width: 195px;
	height: 39px;
	background-image: url(../images/opencourselogo.png);
	background-repeat:no-repeat;
	margin-right: 35px;

}
.slideLeft input[type="search"]{
	width: 358px;
	height: 36px;
	border-radius: 4px;
	border: 1px solid rgb(187,187,187);
	text-indent: 35px;
	background-image: url(../images/search.png);
	background-position: left;
	background-repeat: no-repeat;



}

.PullDownHeader{
	font-size: 15px;
	font-family: 'arial';
	margin-right: 30px;
	line-height: 37px;
	float: left;
	font-weight: bold;
}

.slideRight a{
	
	float: left;
	padding-right: 15px;
	background-image: url(../images/dropdown.png);
	background-repeat: no-repeat;
	background-position: right;

	
}
.slideRight a  .pullDownImage
{
	max-width: 30px;
	max-height: 31px;
	display: block;
	 box-shadow: 0px 0px 4px rgba(0,0,0,.15);
}
.slideRight a  .pullDownImage img{
	display: block;
	
	border: 3px solid #fff;


}