body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

h1,h2,h3,h4,h5,a {
    margin: 0;
    padding: 0;
}

.headerContainer {
    background-image: url(../images/headerGradient.png);
    background-repeat: repeat-x;
    border-bottom: 1px solid rgb(206,206,206);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.innerContainer {
    margin: 0 auto;
    width: 940px;
}

.slideLeft {
    float: left;
}

.slideRight {
    float: right;
}

.clear {
    clear: both;
}

a.logo {
    float: left;
    width: 195px;
    height: 38px;
    background-image: url(../images/opencourselogo.png);
    background-repeat: no-repeat;
    margin-right: 35px;
    margin-top: 6px;
    padding-bottom: 2px;
}

.searchWrapper {
    float: left;
    margin-top: 7px;
    margin-bottom: 7px;
}

.slideLeft input[type="search"] {
    width: 358px;
    height: 36px;
    border-radius: 6px;
    border: 1px solid rgb(187,187,187);
    text-indent: 35px;
    background-image: url(../images/search.png);
    background-position: 6px center;
    background-repeat: no-repeat;
    box-shadow: 0px -1px 1px #ddd;
    font-size: 16px;
    color: #bbbbbb;
    line-height: 18px;
}

.PullDownHeader {
    font-size: 15px;
    font-family: 'arial';
    float: left;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFF;
    line-height: 21px;
    margin-top: 17px;
    margin-right: 30px;
}

.slideRight a {
    float: left;
    padding-right: 15px;
    background-image: url(../images/dropdown.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 8px;
}

.slideRight a  .pullDownImage {
    max-width: 25px;
    max-height: 25px;
    display: block;
    box-shadow: 0px 0px 4px rgba(0,0,0,.15);
}

.slideRight a  .pullDownImage img {
    display: block;
    border: 3px solid #fff;
    border-radius: 4px;
    max-width: 25px;
    max-height: 25px;
}

.innerContainer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.innerContainer .nptelHeading ul {
    padding-bottom: 10px;
}

.innerContainer .nptelHeading ul li {
    float: left;
}

.innerContainer .nptelHeading ul li.clear {
    clear: both;
    float: none;
}

.innerContainer .nPtel {
    padding-right: 15px;
    background-image: url(../images/nptelsep.png);
    background-repeat: no-repeat;
    background-position: right center;
    margin-right: 14px;
}

.innerContainer .nPtel .nptelParent {
    font-size: 15px;
    font-family: arial 'helvetica neue';
    color: #222222;
    line-height: 22px;
}

.innerContainer .nPtelCourses {
    font-size: 15px;
    font-family: arial 'helvetica neue';
    color: #888888;
}

.nptelCourseContainer ul li.clear {
    float: none;
    clear: both;
    width: 0;
    margin: 0;
    padding: 0;
    border: none;
}

.nptelHeading {
    border-bottom: 1px solid rgb(220,220,220);
    margin-bottom: 20px;
}

.nptelCourseContainer {
    float: left;
    margin-right: 30px;
    width: 710px;
}

.nptelCourseContainer ul.nptelCourseDetail{
	margin-left: -25px;

}

.nptelCourseDetail li {
    float: left;
    border: 1px solid rgb(204,204,204);
    margin-left: 25px;
   	margin-bottom: 20px;
    padding: 0;
    border-radius: 4px;
    width: 218px;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.28);
}

.nptelCourseContainer ul li .courseImage {
    padding: 7px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(220,220,220);
    max-width: 206px;
    max-height: 126px;
}

.nptelCourseContainer ul li .courseImage img {
    width: 206px;
    height: 126px;
    max-width: 206px;
    max-height: 126px;
    display: block;
}

.nptelCourseContainer ul li ul {
	margin-left: 14px;
	width: 190px;
	margin-right: 14px;

   
}

.nptelCourseContainer ul li ul li {
    float: none;
    border: none;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    font-size: 11px;
    color: #222222;
   	width: 190px;
   	line-height: 19px;
    border-bottom: 1px solid rgb(220,220,220);
    padding-bottom: 10px;
    padding-top: 10px;
}

.nptelCourseContainer ul li div:last-child {
    background-color: rgb(244,246,248);
    border-top: 1px solid #DCDCDC;
}

.nptelCourseContainer ul li div a {
   float: left;
    width: 65px;
    height:35px;
    margin-right: 15px;
}
.nptelCourseContainer ul li div a:first-child {
	margin-left: 14px;
}
.nptelCourseContainer ul li div a.clear {
	clear: both;
	float: none;
	width: 0;
	height: 0;
	margin: 0;
}
.nptelCourseContainer ul li div a.More{
	width: 30px;
	margin-right: 14px
}

h3.courseType {
    margin-left: 14px;
    margin-right: 14px;
    line-height: 20px;
}

.courseType a {
    color: #225588;
    font-size: 13px;
    font-family: arial 'helvetica';
    line-height: 19px;
}

.nptelHeading li.clear {
    clear: both;
    float: none;
    margin: 0;
    padding: 0;
}

.courseVideos {
    width: 25px;
    height: 35px;
    background-image: url(../images/videos.png);
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    line-height: 30px;
    font-size: 13px;
    color: #888888;
    padding-right: 5px;
  
}

.courseNotes {
    width: 25px;
    height: 35px;
    background-image: url(../images/notes.png);
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    font-size: 13px;
    color: #888888;
     padding-right: 5px;
}

.More {
    line-height: 35px;
    font-size: 13px;
    color: #225588;
    margin-right: 14px;
}

.footer {
    border-top: 1px solid #cecece;
    line-height: 38px;
}

.footer .footNav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
}

.footer .footNav ul li {
    float: left;
    margin-right: 15px;
}

.footer .footNav ul li a {
    font-size: 13px;
    font-weight: bold;
    color: #225588;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer .footNav ul li a:hover {
    color: #000;
}

.footer span {
    display: block;
    float: right;
    font-size: 13px;
    color: #888888;
}

.pageAds {
    float: right;
}

.innerContainer .pageAds ul li {
    float: none;
    margin-right: 0;
    padding: 0;
    margin-bottom: 20px;
}

.innerContainer .pageAds ul li img {
    max-width: 200px;
    max-height: 200px;
}

.courseCounter {
    font-size: 13px;
    line-height: 13px;
    color: #888888;
    font-weight: normal;
}

li div a span.courseCounter {
    float: left;
    width: 35px;
    height: 35px;
    font-size: 13px;
    line-height: 20px;
    margin-top: 8px;
   
}

a.clear {
    clear: both;
    display: block;
}

.nptelCourseContainer ul li ul li:Last-child {
    border-bottom: none;
}

span.clear {
    clear: both;
    float: none;
}

.footer .footNav ul li.clear {
    clear: both;
    float: none;
    margin: 0;
    padding: 0;
}
.footer .footNav{
	float: left;
}
