*{
    font-family: 'roboto';
}
a{
    text-decoration: none;

}
h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
    font-weight: normal;
}
body{
    margin:0;
    padding:0;
   
    font-size:14px;
     background-color: #fff;
    font-family:'robotoregular' ;
}
ul{
    -webkit-padding-start:0;
    -webkit-margin-before:0;
-webkit-margin-after:0;
-webkit-margin-start:0;
-webkit-margin-end: 0;
}

.header{
    background-color:rgb(255,255,255);
    box-shadow:2px 0 5px #000;
}
.headerContent{
    width:940px;
    margin:0 auto;  
}
  
.headerContent a.headerLogo {
    float: left;
    width:140px;
    height:38px;
    background-image:url(../images/langmartlogo.png);
    background-repeat:no-repeat;
      margin-top: 12px;
    margin-bottom: 10px;
   
}
.headerNav{float:right;}
.headerNav ul{margin:0;
    padding:0;
    list-style:none;
    padding-top: 12px;
    padding-bottom: 10px;
    float: left;
}
.headerNav ul li{float:left;
}
.headerNav ul li a{line-height:38px;
    font-size:14px;
    color:#666666;
padding-right:20px;
padding-left:20px;
font-family: 'Robotobold';
display: block;}

.headerNav ul li a:hover{color: rgb(62,62,62);}

.headerNav ul a span{
    float: left;
    height: 38px;
    width: 26px;

}
.headerNav li a .menuIcon1{
    background-image: url(../images/menuicon1.png);
    background-repeat: no-repeat;
    background-position:left center;
    
}
.headerNav li a .menuIcon2{
    background-image: url(../images/menuIcon2.png);
    background-repeat: no-repeat;
    background-position:left center;

}
.headerNav li a .menuIcon3{
    background-image: url(../images/menuIcon3.png);
    background-repeat: no-repeat;
    background-position:left center;

}
.headerNav a.signIn{ float: left;
font-size: 14px;
font-family:'robotobold';
color: #fff;
height: 28px;
width:78px;
border:1px solid #000;
border-radius: 4px;
background-image:url(../images/button1gradient.png);
background-repeat: repeat-x; 
line-height: 30px;
text-align: center;
margin-top: 12px;
margin-bottom: 12px;
margin-left: 20px;
}
.clear{
    clear:both;
}

.banner{
    background-color: rgb(238,238,238);
}
.bannerWrapper{
        width:940px;
    margin:0 auto;

    background-color: transparent;
    }

.bannerWrapper .bannerSlider 
{
    height:275px;
}

.bannerWrapper .bannerContent{
    padding-bottom: 20px;
}
.bannerWrapper .bannerSlider .sliderWrapper{
    height:250px;
}

.sliderButtons ul{margin:0;
    padding:0;
    list-style:none;
}

.sliderButtons ul li{float:left;}

.sliderButtons ul li a{
    display:block;
    width:13px;
height:13px;
background-image:url(../images/radiobg.png);
background-repeat:no-repeat;
background-position:center;}

.sliderButtons ul{position:relative;
    left:50%;
    width:50px;
}

.sliderButtons ul li a:hover{
    background-image:url(../images/radiochecked.png);
    background-repeat:no-repeat;
    background-position:center;
}
.bannerContentHeader1,.bannerContentHeader2{
    display: block;
}
.bannerContentHeader1 h3{
    font-size: 24px;
    text-align: center;
     font-family:'robotomedium';
    color: #666666;
}
.bannerContentHeader2 h1{font-size:30px;
  
    font-family:'robotomedium';
   
    text-align:center;
    color:#444444;
    padding-bottom:30px;
}
.bannerContentbutton1{display:block;
text-align:center;
    background-image:url(../images/signuphr.png);
    background-repeat:no-repeat;
    background-position:center center;
    margin-bottom:30px;
}
.bannerContentbutton1 a{
font-family:'robotobold';
font-size:14px;
color:#3f3f3f;
background-color:rgb(247,247,247);
padding:13px 20px 13px 20px;
border-radius:4px;
}

.translationButton ul{
margin:0;
padding:0;
list-style:none;
    padding-left:190px;
    
}
.translationButton ul li{
    float:left;
    color:rgb(102,102,102);
    padding-right:15px;
    line-height:50px;
}

.translationButton  a{
    color:#fff;
    font-size:16px;
    font-family:'Robotobold';
    background-image:url(../images/buttongradient1.png);
border:1px solid rgb(153,34,17);
border-radius:4px;
height:48px;
display:block;
    width:248px;
    text-align:center;
    float: left;
    line-height: 50px;


}
.translationButton  a.buyer{
    margin-left: 190px;
}
.translationButton  a.provider{margin-left: 20px;}
.translationButton span{float: left;
line-height: 50px;
margin-left: 20px;
font-size: 20px;
font-family:'robotobold';
color: #666666;}

.section{background-image:url(../images/sectiongradient.png);
    background-repeat:repeat-x;
    box-shadow:1px 0 6px rgba(0,0,0,.4);
    margin-bottom: 45px;
}
.sectionContent{
    width:940px;
    margin:0 auto;
}
.sectionContent ul{margin:0;
    padding:0;
    list-style:none;
    padding-top:20px;
    padding-bottom:30px;
}
.sectionContent ul li{float:left;
width:210px;
margin-right:20px;
}

.sectionImg1{height:160px;
background-image:url(../images/sectioneclipse1.png);
background-repeat:no-repeat;
     margin-bottom:20px;
background-position:center center;}
.sectionImg2{
    background-image:url(../images/sectioneclipse2.png);
background-repeat:no-repeat;
background-position:center center;
    height:160px;
     margin-bottom:20px;
}
.sectionImg3{
    background-image:url(../images/sectioneclipse3.png);
background-repeat:no-repeat;
background-position:center center;
    height:160px;
     margin-bottom:20px;
}
.sectionImg4{
    background-image:url(../images/sectioneclipse4.png);
background-repeat:no-repeat;
background-position:center center;
    height:160px;
    margin-bottom:20px;
}
.sectiondetailHeader{
color:rgb(245,245,245);    
    font-size:16px;
    display:block;
    text-align:center;
 
}
.detailContent{
    font-size:12px;
    color:rgb(187,187,187);
    text-align:left;
}
.detailContent a{
    
    color:rgb(201,201,201);
    display:block;
           padding-top:15px;
}
hr{background-image:url(../images/hr.png);
background-repeat:repeat-x;
border:none;
height:2px;}
.sectionOne{
 
    width: 940px;
    margin: 0 auto;
   

}
.sectionOneContent{ margin-bottom:50px;}
.location{
    width: 605px;
    float: left;
    margin-right: 25px;


}
.providers{
  width: 270px;
    float: left;

}
.location span{
    font-size:21px;
    color:#444444;
}
.providers ul{
    list-style:none;
    margin:0;
    padding:0;
    
}
.locationWrapper img{width: 605px;}

.providers ul li{
   
    font-family:'arial' 'helvetica';
    font-size: 13px;
    display: block;
    color: rbg(34,34,34);

}
.providerHeader{
    color:rgb(221,68,34);
    font-weight:bold;
    font-size:18px;
   width: 270px;
    font-family: 'Roboto';
    padding-left: 0;
    padding-bottom: 15px;
    
}
.providerHeader hr{
    background-image: none;
    background-color: rgb(235,235,235);
}



.providers ul li span.sub{display: block;
font-size: 11px;
color: rgb(136,136,136);}

.sectiontwo{
  
    background-color:rgb(221,221,221);
}
.sectiontwoContent{
    width:940px;
    margin:0 auto;
}
.sectionOneButtons{margin-bottom:40px;}
.sectiontwoContentHeader{font-size:24px;
color:rgb(34,34,34);
padding-top:45px;
display:block;
text-align:center;
padding-bottom:20px;}
.sectiontwoDetails{margin-left:20px;
margin-right:10px;}

.sectiontwoDetails ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.sectiontwoDetails ul li{width:430px;
background-color:rgb(255,255,255);
margin-right:25px;
    margin-bottom:25px;
float:left;
border-radius:4px;
box-shadow:0 0 5px rgba(0,0,0,.4);}
.footer{
    height:68px;
    background-image:url(../images/footer-gradient.png);
    background-repeat:repeat-x;   
}

@font-face {
    font-family: 'robotobold';
    src:url('../font/roboto-bold-webfont.eot');
    src:url('../font/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto-bold-webfont.woff') format('woff'),
         url('../font/roboto-bold-webfont.ttf') format('truetype'),
         url('../font/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('../font/roboto-regular-webfont.eot');
    src: url('../font/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto-regular-webfont.woff') format('woff'),
         url('../font/roboto.ttf') format('truetype'),
         url('../font/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotomedium';
    src: url('../font/roboto-medium-webfont.eot');
    src: url('../font/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto-medium-webfont.woff') format('woff'),
         url('../font/roboto-medium-webfont.ttf') format('truetype'),
         url('../font/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
.sectiontwoDetailContents{
   padding: 20px;

}
.sectiontwoDetailContents span{
    display: block;
}
.sectiontwoImg{float: left;
box-shadow:0 0 3px 0 rgba(0,0,0,.2);
border-radius: 4px;
margin-right: 20px; }

.sectiontwoImg img{
    padding: 2px;

}
.sectiontwoDetailContents span.heading{
    font-size: 16px;
    padding-bottom: 15px;
}
.sectiontwoDetailContents span.heading+span{
    font-size: 12px;
    color: rgb(136,136,136);
}
.sectiontwoDetailContents span.subHeading{
    display: inline;
    font-size: 14px;
    color: rgb(213,65,2);
}
.footerContent{
    padding-top: 20px;
    margin: 0 auto;
    width: 940px;
     text-align: center;
}


.footerNav ul{

    padding: 0;
    list-style: none;
    display: inline;
}
.footerNav ul li{
    display: inline;
    padding-left: 7px;
    padding-right: 7px;
    color: rgb(200,200,200);
}
.footerNav ul li a{
   color: rgb(200,200,200);
   text-decoration: none;
}
.footerCopyright{
    color: rgb(91,91,91);
    font-size: 12px;
    font-family: 'arial' 'helvetica';
    font-weight: bold;
}
ul li.clear{
    float: none;
    clear: both;
}