body
{
	background-color: rgba(255,255,255,1);
	font-family: 'robotolight' 'robotothin' 'tahoma';
	margin: 0;
	padding: 0;
}
a
{
	text-decoration: none;
	margin: 0;
	padding: 0;
}
ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5
{
	font-weight: normal;
	margin: 0;
	padding: 0;
}
@font-face
{
	font-family: 'robotolight';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/roboto-light-webfont.eot');
	src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
 url('../fonts/roboto-light-webfont.woff') format('woff'),
 url('../fonts/roboto-light-webfont.ttf') format('truetype'),
 url('../fonts/roboto-light-webfont.svg#robotolight') format('svg');
}
@font-face
{
	font-family: 'Robotomedium';
	font-weight: normal;
	src: url('../fonts/Roboto-Medium.ttf');
}
@font-face
{
	font-family: 'robotothin';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/roboto-thin-webfont.eot');
	src: url('../fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
 url('../fonts/roboto-thin-webfont.woff') format('woff'),
 url('../fonts/roboto-thin-webfont.ttf') format('truetype'),
 url('../fonts/roboto-thin-webfont.svg#robotothin') format('svg');
}
.innerContainer
{
	margin: 0 auto;
	width: 940px;
}
.headerOuter
{
	border-bottom: 1px solid rgba(228,228,228,1);
}
.headerOuter .innerContainer a.logo
{
	background-image: url(../images/destinationLogo.png);
	background-repeat: no-repeat;
	float: left;
	height: 30px;
	width: 300px;
}
.headerOuter
{
	margin-bottom: 10px;
}
.headerOuter .innerContainer
{
	padding-top: 50px;
}
.headerLinkcontainer
{
	float: right;
}
.headerLinkcontainer ul
{
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}
.headerLinkcontainer ul li
{
	float: left;
	margin-right: 50px;
}
.headerLinkcontainer ul li a
{
	color: #1a4da2;
	font-family: 'robotolight';
	font-size: 15px;
	line-height: 50px;
}
.headerLinkcontainer ul li a:hover
{
	color: #000;
}
ul li.clear
{
	border: none;
	clear: both;
	float: none;
}
.clear
{
	clear: both;
}
.searchContainer
{
	float: left;
	line-height: 50px;
}
.searchContainer input
{
	background-image: url(../images/search.png);
	background-position: left center;
	background-repeat: no-repeat;
	border: 1px solid rgb(187,187,187);
	border-radius: 4px;
	color: rgba(0,0,0,.55);
	height: 28px;
	text-indent: 15px;
	width: 168px;
}
.navBar
{
	border-bottom: 1px solid #dddddd;
	margin: 0 auto;
	margin-bottom: 40px;
	width: 940px;
}
.firstNavbar
{
	margin-bottom: 50px;
}
.firstNavbar ul
{
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}
.firstNavbar ul li
{
	float: left;
	margin-right: 10px;
	padding-right: 10px;
	background-image: url(../images/navforward.png);
	background-position: center right;
	background-repeat: no-repeat;
}
.firstNavbar ul li a
{
	color: #1a4da2;
	font-family: 'Tahoma';
	font-size: 11px;
	line-height: 25px;
}
.firstNavbar ul li a:hover
{
	color: #333333;
}
.firstNavbar ul li a:active{
	color: #333333;
}
.navSeparator
{
	background-image: url(../images/navforward.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	display: block;
	height: 15px;
	width: 5px;
}
.secondNavBarlogo img
{
	max-height: 53px;
	max-width: 53px;
	display: block;
}
.secondNavBarlogo
{
	float: left;
}
.secondNavBarlogo h1
{
	color: #d54405;
	float: left;
	font-family: 'robotothin';
	font-size: 36px;
}
.secondNavbarimage
{
	float: left;
	margin-right: 15px;
}
.secondNavBarcontent
{
	float: right;
	padding-top: 13px;
}
.secondNavBarcontent ul
{
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}
.secondNavBarcontent ul li
{
	float: left;
	margin-left: 35px;
}
.secondNavBarcontent ul li a
{
	color: #1a4da2;
	font-family: 'robotolight';
	font-size: 15px;
	line-height: 40px;
	padding: 10px 15px 10px 15px;
}
.secondNavBarcontent ul li a:hover
{
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	color: #d54405;
	padding: 9px 14px 9px 14px;
}
.secondNavbar
{
	margin-bottom: 10px;
}
.aside
{
	float: left;
	margin-right: 25px;
	margin-top: 10px;
}
.aside li
{
	border-bottom: 1px solid rgba(228,228,228,1);
	margin-bottom: 17px;
	display: block;
}
.aside ul a
{
	color: #1a4da2;
	display: block;
	font-family: "robotolight";
	font-size: 15px;
	line-height: 25px;
	width: 220px;

}
.aside ul a .reachImage
{
	background-image: url(../images/reachactive.png);
	background-position: center center;
	background-repeat: no-repeat;
	float: left;
	height: 30px;
	margin-right: 15px;
	width: 27px;
}
.aside ul a .stayImage
{
	background-image: url(../images/stayactive.png);
	background-position: center center;
	background-repeat: no-repeat;
	float: left;
	height: 30px;
	margin-right: 15px;
	width: 27px;
}
.aside ul li a .aroundImage
{
	background-image: url(../images/aroundactive.png);
	background-position: center center;
	background-repeat: no-repeat;
	float: left;
	height: 30px;
	margin-right: 15px;
	width: 27px;
}
.aside ul a .holidayImage
{
	background-image: url(../images/holidayactive.png);
	background-position: center center;
	background-repeat: no-repeat;
	float: left;
	height: 30px;
	margin-right: 15px;
	width: 27px;
}
.aside ul a .importantImage
{
	background-image: url(../images/importantactive.png);
	background-position: center center;
	background-repeat: no-repeat;
	float: left;
	height: 30px;
	margin-right: 15px;
	width: 27px;
}
.aside ul li a .travelImage
{
	background-image: url(../images/travelactive.png);
	background-position: center center;
	background-repeat: no-repeat;
	float: left;
	height: 30px;
	margin-right: 15px;
	width: 27px;
}
.innerContainer .aside ul a:hover
{
	color: #d54405;
	font-size: 17px;
	
}
.aside ul li:hover
{
	border-bottom: 2px solid #d54405;
	margin-bottom: 16px;
}
.aside ul li a:hover .reachImage
{
	background-image: url(../images/reachhover.png);
	background-position: center center;
	background-repeat: no-repeat;
}
.aside ul li a:hover .travelImage
{
	background-image: url(../images/travelhover.png);
	background-position: center center;
	background-repeat: no-repeat;
}
.aside ul li a:hover .importantImage
{
	background-image: url(../images/importanthover.png);
	background-position: center center;
	background-repeat: no-repeat;
}
.aside ul li a:hover .holidayImage
{
	background-image: url(../images/holidayhover.png);
	background-position: center center;
	background-repeat: no-repeat;
}
.aside ul li a:hover .aroundImage
{
	background-image: url(../images/aroundhover.png);
	background-position: center center;
	background-repeat: no-repeat;
}
.aside ul li a:hover .stayImage
{
	background-image: url(../images/stayhover.png);
	background-position: center center;
	background-repeat: no-repeat;
}

.linkHeading{

	float: left;
	width:170px;
	display: block;
}
.linkSubheading
{
	color: #878787;
	
	font-family: 'robotolight';
	font-size: 12px;
	line-height: 22px;
	display: block;
}
.locationGuide
{
	float: left;
}
.locationGuide img
{
	height: 300px;
	max-height: 300px;
	max-width: 660px;
	width: 660px;
	display: block;
}
.locationGuide h3
{
	color: #d54405;
	font-family: 'robotothin';
	font-size: 32px;
	padding-bottom: 20px;
}
.locationDetails
{
	border: 1px solid rgb(218,218,218);
	margin-bottom: 30px;
}
.locationMap
{
	padding: 15px 15px 20px 15px;
}
.locationDistance
{
	color: #444444;
	font-size: 14px;
	margin: 0 15px 25px 15px;
	text-align: center;
}
.travelOption h3
{
	border-bottom: 1px solid rgba(228,228,228,1);
	color: #d54405;
	font-family: 'robotothin';
	font-size: 24px;
	line-height: 46px;
	margin-bottom: 20px;
}
.travelOption li
{
	border-bottom: 1px solid rgba(228,228,228,1);
	margin-bottom: 20px;
}
.travelCaption img
{
	height: 80px;
	width: 76px;
}
.travelCaption
{
	float: left;
	margin-right: 35px;
}
.travelDetails
{
	float: left;
	font-size: 11px;
	line-height: 21px;
	padding-bottom: 25px;
	width: 500px;
}
.travelDetails p
{
	font-family: 'Tahoma';
	font-size: 11px;
	line-height: 24px;
}
.routeHeading
{
	font-family: 'robotolight';
	font-size: 20px;
	line-height: 40px;
}
.travelDetails a
{
	color: #1a4da2;
	font-family: 'Tahoma';
	background-image: 
	
}
.travelDetails a:after{
	content:url(../images/linkbg.png);
}
p a
{
	background-image: url(../images/buttongradient.png);
	background-repeat: repeat-x;
	border: 1px solid rgba(228,228,228,1);
	border-radius: 4px;
	display: block;
	font-size: 12px;
	height: 28px;
	line-height: 30px;
	text-align: center;
	width: 180px;
}
select
{
	border: 1px solid rgba(228,228,228,1);
	border-radius: 4px;
	font-family: 'Robotomedium';
	height: 28px;
	width: 150px;
}
select option
{
	background: none;
}
.locationDistanceDetail
{
	color: #000;
	font-size: 11px;
	font-family: 'robotolight';
}
.notSuredetails
{
	font-family: 'robotolight';
	font-size: 16px;
}

span.clear{
	display: block;
	float: none;
	clear: both;
}
.Measure{
	font-size: 17px;
	font-family:'robotolight';
}

 ul li a.active{
	color: #000;
}

.secondNavBarcontent ul li a.active
{
	border: 1px solid rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: #D54405;
padding: 9px 14px 9px 14px;
}

.aside ul li a.active{
	color: #D54405;
font-size: 17px;
}
.aside ul li a.active .reachImage{
	background-image: url(../images/reachhover.png);
background-position: center center;
background-repeat: no-repeat;
float: left;
height: 30px;
margin-right: 15px;
width: 27px;
}

li.active{
	border-bottom: 2px solid #D54405;
margin-bottom: 16px;
}