*{font-family: Arial, Helvetica, sans-serif;}
body{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(images/background.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
h1,h2,h3,h4,h5,h6{margin:0;
padding:0;
}
#wrapper #header .globalHeader  {
	width:100%;
height:39px;

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFmNDk3NSIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjMWY0OTc1IiBzdG9wLW9wYWNpdHk9IjAuNzUiLz4KICAgIDxzdG9wIG9mZnNldD0iNCUiIHN0b3AtY29sb3I9IiMxZjQ4NzQiIHN0b3Atb3BhY2l0eT0iMC43NiIvPgogICAgPHN0b3Agb2Zmc2V0PSI3JSIgc3RvcC1jb2xvcj0iIzFmNDc3MyIgc3RvcC1vcGFjaXR5PSIwLjc3Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjExJSIgc3RvcC1jb2xvcj0iIzFmNDQ3MCIgc3RvcC1vcGFjaXR5PSIwLjc4Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZjJhM2EiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(31,73,117,0.75) 0%, rgba(31,73,117,0.75) 1%, rgba(31,72,116,0.76) 4%, rgba(31,71,115,0.77) 7%, rgba(31,68,112,0.78) 11%, rgba(31,42,58,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(31,73,117,0.75)), color-stop(1%,rgba(31,73,117,0.75)), color-stop(4%,rgba(31,72,116,0.76)), color-stop(7%,rgba(31,71,115,0.77)), color-stop(11%,rgba(31,68,112,0.78)), color-stop(100%,rgba(31,42,58,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(31,73,117,0.75) 0%,rgba(31,73,117,0.75) 1%,rgba(31,72,116,0.76) 4%,rgba(31,71,115,0.77) 7%,rgba(31,68,112,0.78) 11%,rgba(31,42,58,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(31,73,117,0.75) 0%,rgba(31,73,117,0.75) 1%,rgba(31,72,116,0.76) 4%,rgba(31,71,115,0.77) 7%,rgba(31,68,112,0.78) 11%,rgba(31,42,58,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(31,73,117,0.75) 0%,rgba(31,73,117,0.75) 1%,rgba(31,72,116,0.76) 4%,rgba(31,71,115,0.77) 7%,rgba(31,68,112,0.78) 11%,rgba(31,42,58,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(31,73,117,0.75) 0%,rgba(31,73,117,0.75) 1%,rgba(31,72,116,0.76) 4%,rgba(31,71,115,0.77) 7%,rgba(31,68,112,0.78) 11%,rgba(31,42,58,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf1f4975', endColorstr='#1f2a3a',GradientType=0 ); /* IE6-8 */

border-bottom:1px solid rgb(214,227,242);

	
}

#wrapper #header .globalHeader .headerContent {
	width:960px;
	margin:0 auto;
	
}
#wrapper #header .globalHeader .headerContent .headerInside {
	float:right;

}
#wrapper #header .globalHeader .headerContent .headerInside .searchWrapper {
	float:left;
}
.clear {
	clear:both;
	height: 0;
	width: 0
}
#wrapper #header .globalHeader .headerContent .headerInside .loginFaq {
	float:left;
}
#wrapper #header .globalHeader .headerContent .headerInside .loginFaq ul{list-style:none;
margin:0;
padding:0;
margin-left:20px;
}
#wrapper #header .globalHeader .headerContent .headerInside .loginFaq ul li{float:left;}
#wrapper #header .globalHeader .headerContent .headerInside .searchWrapper input {

	background-color: transparent;
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	border: 2px solid rgb(36,46,55);
	background-color: rgb(42,54,64);
	border-radius: 4px;
	width: 100%;
	height: 25px;
	background-image: url(../images/search.png);
	background-position: right;
	margin-top:5px;
	margin-right:20px;
	
}
#wrapper #header .globalHeader .headerContent .headerInside .loginFaq ul li a {
	text-decoration:none;
	color:;
	display:block;
	color:rgb(255,255,255);
	padding-right:15px;
	font-size:11px;
}
#wrapper #header .globalHeader .headerContent .headerInside .loginFaq ul li{line-height:40px;}

 li.havePipes{background-image:url(images/toppipe.png);
background-repeat:no-repeat;
background-position:80% 50%;

}
#wrapper #header .HeaderLogo{height:127px;
width:960px;
margin:0 auto;}
#wrapper #header .HeaderLogo a {
	background-image: url(images/logo.png);
	background-repeat: no-repeat;
	background-position: left center;
	display: block;
	height: 100%;

}
#wrapper #header .navBar {
	width:960px;
	height: 54px;
	background-image: url(images/navbargradient.png);
	background-position: center;;
	background-repeat: repeat-x;
	border-radius: 4px;
	margin:0 auto;
	margin-bottom:20px;
	box-shadow: 0 0 9px rgba(0,0,0,.3);
}
#wrapper #header .navBar ul{margin:0;
padding:0;
list-style:none;
}
#wrapper #header .navBar ul li{float: left;
line-height:54px;
font-size: 14px;
font-family:Arial, Helvetica, sans-serif;
color: rgb(71,72,72);
font-weight: 500;
background-image:url(images/pipe.png);
background-repeat: no-repeat;
background-position: 100% 50%;
text-align: center;}
#wrapper #header .navBar ul li a{
	color: rgb(71,72,72);
text-decoration: none;
padding-right:30px;
padding-left:30px;
display:block;
}
#wrapper #header .navBar ul li a:hover{
	border-bottom:2px solid rgb(0,150,214);
	height:52px;
	
}
#wrapper #contents {
	margin:0 auto;
	width:960px;
}
#wrapper #contents .banner {
height:350px;
border-radius: 4px;
background: radial-gradient(ellipse at center, rgba(8,50,86,0.87) 0%,rgba(7,46,80,1) 100%);
background: -moz-radial-gradient(ellipse at center, rgba(8,50,86,0.87) 0%,rgba(7,46,80,1) 100%);  
background: -ms-radial-gradient(ellipse at center, rgba(8,50,86,0.87) 0%,rgba(7,46,80,1) 100%); 
overflow: hidden;
margin-bottom:20px;
}
#wrapper #contents .banner .bannerContent {
	width:570px;
	float: left;
	
}
#wrapper #contents .banner .bannerText {
	display: block;
	padding-top:45px;
	padding-left:45px;
	color: rgb(255,255,255);
text-shadow: 1px -1px 0px rgba(1,3,0,1);
	

}
#wrapper #contents .banner .slideWrapper {
	float:left;
	}
#wrapper #contents .banner .slideWrapper img {
	width:390px;
}
	
#wrapper #contents .banner .button{
	background-image: url(images/buttonbg1.png);
	background-repeat: repeat-x;
	background-origin:border-box;
	background-position: center;
background-color:rgb(129,52,22); 
	border: 1px solid rgb(129,52,22);
	width: 140px;
	height: 38px;
	border-radius: 4px;
	color: rgb(255,255,255);
	
	
}
#wrapper #contents .banner .bannerContent .bannerText
{
	display: block;
}
#wrapper #contents .banner .bannerContent .bannerText a {
		display: block;
	font-size: 14px;
	width:140px;
	text-decoration:none;
	color:rgb(255,255,255);
	line-height:40px;
	text-align:center;
}
#wrapper #contents .banner .bannerContent .bannerText h1{
	text-shadow:-1px -1px 1px #000;
	font-size: 44px;
	font-weight: 500;

}
#wrapper #contents .banner .bannerContent .bannerText h3{
	text-shadow:-1px -1px 1px #000;
	font-size: 22px;
	font-weight: 500;

}
#wrapper #contents .announcementsChapters {
	width:960px;
	margin:0 auto;
	height:550px;
	margin-bottom:20px;
}
#wrapper #contents .announcementsChapters .latestAnnouncements .boxHeaders{
	background-image: url(images/announcehead.png);
background-position: right center;
background-repeat: no-repeat;
background-size: 50px 45px ;
margin-bottom: 20px;}
#wrapper #contents .announcementsChapters .latestAnnouncements {
		width: 318px;
	background-color: rgba(255,255,255,.6);
	border-radius: 4px;
	float: left;
	border: 1px solid #c9c9c9;
	height: 550px;
	margin-right:20px;
}
#wrapper #contents .announcementsChapters .cfdgChapter .boxHeaders{background-image: url(images/mapgr.png);
background-position: right center;
background-repeat: no-repeat;
background-size: 50px 45px ;
margin-bottom: 20px;}
#wrapper #contents .announcementsChapters .cfdgChapter {
	background-color: rgba(255,255,255,.6);
	width: 618px;
	height: 550px;
	border-radius: 4px;
	float:left;
	border: 1px solid rgb(204,204,204);
}
#wrapper #contents .events {
	
	
		border-radius: 4px;
			border:1px solid #c9c9c9;
			background-color: rgba(255,255,255,.3);
			margin-bottom:20px;
}
.boxHeaders {
	height: 40px;
	color:rgb(51,51,51);
background-image: url(images/headergradient.png);
background-repeat:repeat-x;
font-size: 16px;
border-bottom: 1px solid rgb(204,204,204);s
overflow: hidden;

}
 .boxHeaders h3 {
	padding-left: 25px;
	padding-top: 10px;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	
}

#wrapper #contents .announcementsChapters  .boxContent ul {
	margin: 0;
	padding:0;
	list-style:none;
	
}
#wrapper #contents .announcementsChapters .latestAnnouncements  .boxContent ul li
{display:block;
padding-bottom:30px;
}
#wrapper #contents .announcementsChapters .latestAnnouncements .boxContent ul li .boxImage img {

}

.boxContent ul{
	
	padding: 0;
	list-style: none;

}
.boxContent ul li{
	display: block;
}
.boxContent .searchWrapper{
	background-image:url(images/map1.png);
	background-position:left center;
background-repeat:no-repeat;

}
.boxContent .searchWrapper input{
	width:560px;
height:30px;
border-radius: 4px;
border:1px solid rgb(127,170,197);
background-color: transparent;
text-indent: 10px;

}
.announcementsChapters .cfdgChapter .boxContent ul li{margin: 0;
padding: 0;
list-style: none;}
.announcementsChapters .cfdgChapter .boxContent ul li{
	padding-bottom: 10px;
}
#wrapper #contents .cfdgFooter .button{
	background-image: url(images/buttonbg1.png);
	background-repeat: repeat-x;
	background-origin:border-box;
	background-position: center;
background-color:rgb(129,52,22); 
	border: 1px solid rgb(129,52,22);
	width: 160px;
	height: 38px;
	border-radius: 4px;
	color: rgb(255,255,255);
	float: right;
	font-size: 14px;
	line-height: 40px;
	

}
#wrapper #contents .cfdgFooter span{
	display: block;
}
#wrapper #contents .cfdgFooter .footerText{
	float: left;
}
#wrapper #contents .cfdgFooter .button a{
	text-decoration: none;
	color: rgb(255,255,255);
	display: block;
	text-align: center;
}
.events .boxHeaders{
	
	background-image: url(images/headergradient.png);
	background-repeat: repeat-x;
}
.eventBoxcontents ul{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-bottom: 30px;

}
.eventBoxcontents ul li{
	float: left;
	height: 280px;
	border: 1px solid #c9c9c9;
	border-radius: 4px;
	background-color: rgb(255,255,255);
	width: 208px;
	margin-left: 15px;
}
ul.imageNav{
	height: 0;
	width: 0;
	border: none;
	float: none;
}
.eventBoxcontents ul li img{
	width: 190px;
	height: 90px;
}
.eventWrapper{
	padding-left: 10px;
	padding-top: 5px;
	padding-right: 10px;
}
.boxImage{
		padding-right: 15px;
		float: left;
}
.boxInsidecontent{}
.contentDate{
	font-size: 12px;
	color: rgb(160,162,163);
}

.contentLink a{
	text-decoration: none;
	font-size: 16px;
	color: #000;
}
.contentDescription{
	font-size: 13px;
	color: rgb(102,102,102);
}
.boxContent li{display: block;}
.cfdgFooter span{
	display: inline;
}
.footerText{
	font-size: 16px;
	color: rgb(102,102,102);
}
.eventWrapperhead a{
	
	font-size:16px;
	

}
.eventWrapperdate{
	color:rgb(169,169,169);
	font-size:12px;
}
.eventBoxcontents a{
	color:rgb(0,150,214);
	text-decoration: none;

}
.eventWrapperloc,.eventwrapperDescription{
	font-size: 14px;
	color: rgb(102,102,102);
}
.eventWrapperloc strong,.eventwrapperDescription strong{
	color: #000;
}
.eventWrappermore{
	font-size: 14px;
}
.boxInsidecontent{
	width: 170px;
	float: left;
}
.boxInsidecontent .button a{
	text-decoration: none;
	color: rgb(51,51,51);
	font-size: 11px;
	background-image: url(images/button1bg.png);
	background-repeat: repeat-x;
	border: 1px solid rgb(184,184,184);
	border-radius: 2px;
	height:18px;
	width: 90px;
	display: block;
	line-height: 20px;
	text-align: center;

}
.latestAnnouncements .boxContent{
	margin-left: 20px;
	
}
.cfdgChapter .boxContent{
	margin-left: 25px;
	margin-top: 25px;
	margin-right: 25px;
}
.eventBoxcontents{
	
}
.boxInsidecontent span{
	display: block;
	padding-bottom: 10px;
}#wrapper #footer {
	width: 100%;
	background-image:url(images/footer.png);
	height:390px;
	background-repeat:no-repeat;
	background-size:100%;
}
#wrapper #header .navBar ul .home a {
	background: url(images/li1.png) no-repeat center center;
	width:5px;
}
#wrapper #header .navBar ul .home a {
	background: url(images/li1.png);
	background-position:center;
    width:10px;
	height:52px;
	background-repeat:no-repeat;
}
#wrapper #contents .events .eventBoxcontents ul .imageSlider {
	height: 20px;
	width: 10px;
	position:relative;
	top:120px;
	border:none;
	background-color:transparent;
	border-radius:0px;
}
#wrapper #contents .events .eventBoxcontents ul .imageSlider img {
	height: 20px;
	width: 10px;
	
}
.events .boxHeaders{
	margin-bottom: 20px;
	background-image: url(images/eventheader.png);
background-position: right center;
background-repeat: no-repeat;
background-size: 50px 45px ;
}
