body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif,'ubunturegular';
    background-image: url(../images/bodyGradient.png);
    background-repeat: repeat;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h1,h2,h3,h4,p {
    margin: 0;
    padding: 0;
}

.header {
    background-image: url(../images/headerBackground.png);
    background-repeat: repeat-x;
    position: relative;
    z-index: 1;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.innerContainer {
    width: 940px;
    margin: 0 auto;
}

.header .logo {
    float: left;
    width: 115px;
    height: 35px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    margin-top: 7px;
    margin-bottom: 8px;
}

.header .rightPosition {
    float: right;
   
}

.header .rightPosition a {
    float: left;
    font-size: 13px;
    font-family: 'Arial' Helvetica sans-serif;
    color: #fff;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid #000;
    border-radius: 16px;
    text-align: center;
    padding: 7px 13px;
    font-weight: bold;
     margin-top: 9px;
    margin-bottom: 6px;

}

.signIn {
    background-image: url(../images/buttonGradientsignin.png);
    background-repeat: repeat-x;
    background-position: center;
    margin-right: 16px;
}

.getStarted {
    background-image: url(../images/buttonGradientgetstarted.png);
    background-repeat: repeat-x;
    background-position: center;
}

.header .rightPosition a.clear {
    float: none;
    margin: 0;
    padding: 0;
    clear: both;
    border: none;
}

.clear {
    float: none;
    clear: both;
}

.banner {
    background-image: url(../images/bannerBackground.png);
    background-repeat:repeat;
    border-bottom: 1px solid #0c78b6;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

.banner .innerContainer{
    background-image: url(../images/bannerinnerBackground.png);
    background-repeat: no-repeat;
    background-position: 10% 50%;

}

@font-face {
    font-family: 'ubuntubold';
    src: url('../font/ubuntu-b-webfont.eot');
    src: url('../font/ubuntu-b-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/ubuntu-b-webfont.woff') format('woff'),
         url('../font/ubuntu-b-webfont.ttf') format('truetype'),
         url('../font/ubuntu-b-webfont.svg#ubuntubold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntumedium';
    src: url('../font/ubuntu-m-webfont.eot');
    src: url('../font/ubuntu-m-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/ubuntu-m-webfont.woff') format('woff'),
         url('../font/ubuntu-m-webfont.ttf') format('truetype'),
         url('../font/ubuntu-m-webfont.svg#ubuntumedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubunturegular';
    src: url('../font/ubuntu-r-webfont.eot');
    src: url('../font/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/ubuntu-r-webfont.woff') format('woff'),
         url('../font/ubuntu-r-webfont.ttf') format('truetype'),
         url('../font/ubuntu-r-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntulight';
    src: url('../font/ubuntu-l-webfont.eot');
    src: url('../font/ubuntu-l-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/ubuntu-l-webfont.woff') format('woff'),
         url('../font/ubuntu-l-webfont.ttf') format('truetype'),
         url('../font/ubuntu-l-webfont.svg#ubuntulight') format('svg');
    font-weight: normal;
    font-style: normal;
}

.banner h3.bannerHeading {
    font-size: 40px;
    font-family: 'ubuntubold';
    color: #fff;
    font-weight: normal;
    padding-top: 40px;
    text-align: center;
    line-height: 46px;
    margin-bottom: 260px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.bannerSubHeading {
    color: #fff;
    line-height: 26px;
    font-family: 'ubuntulight';
    text-align: center;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    font-weight: normal;
    margin-bottom: 50px;
    font-size: 24px;
}

.bannerButton {
    line-height: 56px;
    font-size: 26px;
    font-family: 'Arial' 'Helvetica' 'sans-serif';
    background-image: url(../images/bannerButtonGradient.png);
    background-repeat: repeat-x;
    border: 2px solid #0976b5;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    display: block;
    width: 300px;
    padding: 2px 0;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
}

.bannerButtonWrapper {
    text-align: center;
    background-image: url(../images/buttonLine.png);
    background-repeat: repeat-x;
    background-position: center center;
    margin-bottom: 30px;
}

.shareistContents {
    width: 540px;
    margin-right: 40px;
    float: left;
    margin-top: 40px;
}

.shareistContents h3 {
    font-size: 36px;
    font-family: 'ubuntumedium';
    color: #444444;
    line-height: 39px;
    margin-bottom: 30px;
    text-shadow: 0px -1px 0px rgba(255, 255, 255, 1);
}

.signUp {
    width: 298px;
    float: left;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 30px;
}

.shareistIdeas {
    font-size: 18px;
    color: #444;
    line-height: 26px;
    padding-bottom: 40px;
}

.shareistFeatures {
    font-size: 24px;
    line-height: 32px;
    color: #444;
    padding-bottom: 87px;
}

.signupinnerContainer {
    margin: 0 20px;
    width: 260px;
    margin-top: 23px;
    margin-bottom: 20px;
}

.signUp h3 {
    font-size: 22px;
    line-height: 36px;
    color: #444;
    text-align: center;
    font-family: 'ubuntulight';
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
    margin-bottom: 20px;
}

.signUp h3 strong {
    font-family: 'ubuntumedium';
}

a.facebookLogin {
    display: block;
    width: 260px;
    height: 37px;
    background-image: url(../images/facebookSign.png);
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.oRbackGround {
    background-image: url(../images/orBackground.png);
    background-position: center center;
    text-align: center;
    background-repeat: repeat-x;
    font-family: 'ubuntumedium';
    font-size: 24px;
    line-height: 26px;
    display: block;
    width: 260px;
    color: #444;
    margin-bottom: 20px;
}

.signupForm input {
    width: 260px;
    height: 28px;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 0px 0px rgba(241, 241, 241, 1) inset;
    border: 1px solid rgb(201,204,204);
    text-indent: 10px;
}

.signupForm legend {
    font-size: 13px;
    line-height: 18px;
    font-family: 'Arial' 'Helvetica' 'sans-serif';
    color: #888888;
    margin-bottom: 25px;
}

.signupForm legend a {
    color: #333333;
    width: 260px;
    height: 36px;
}

a.facebookSignup {
    background-image: url(../images/facebooksigningradient.png);
    background-repeat: repeat-x;
    font-size: 15px;
    line-height: 22px;
    display: block;
    width: 258px;
    padding: 7px 0;
    text-align: center;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    color: #fff;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
    border-radius: 4px;
}

[title="ideaContainer"] {
    border-bottom: 1px solid rgb(207,207,207);
    margin-bottom: 50px;

}

.aboutShareist h3.shareistDo {
    color: #444;
    font-size: 36px;
    line-height: 38px;
    font-family: 'ubuntumedium';
    margin-bottom: 50px;
}

.aboutShareist ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
}

.aboutShareist ul li {
    float: left;
    margin-bottom: 45px;
    margin-right: 25px;
}

.aboutShareist .innerContainer ul li div h3 {
    font-family: 'Arial' 'Helvetica' sans-serif;
    font-size: 24px;
    line-height: 36px;
    color: #444;
}

.aboutShareist ul li div {
    float: left;
}

.aboutShareist ul li div p {
    font-size: 13px;
    line-height: 18px;
    color: #666;
    font-family: 'Helvetica' Arial sans-serif;
}

.aboutShareist ul li div:first-child {
    width: 55px;
    height: 55px;
    margin-right: 20px;
}

.aboutShareist ul li div:first-child img {
    width: 55px;
    height: 55px;
    max-width: 55px;
    max-height: 55px;
}

.aboutShareist ul li div:nth-child(2) {
    width: 370px;
}
.aboutShareist .innerContainer{
	border-bottom: 1px solid rgb(207,207,207);
	margin-bottom:45px; 
}

.footerImage {
    display: block;
    width: 130px;
    height: 50px;
    background-image: url(../images/poweredby.png);
    background-repeat: no-repeat;
    margin: 0 auto;
}

.clear: {
    clear: both;
    float: none;
}

ul li.clear {
    float: none;
    clear: both;
    float: left;
    margin-bottom: 0px;
    margin-right: 0px;
}