
body{
    margin:0;
    padding:0;
   
    font-size:14px;
     background-color: #fff;
    font-family:'Roboto' ;
}

.header{
    background-color:rgb(255,255,255);
    box-shadow:2px 0 5px #000;
}
.headerContent{
    width:940px;
  
    margin:0 auto;
}
.headerContent {
    padding-top:15px;
    padding-bottom:10px;
}

 .headerLogo{
width:140px;
    float:left;
}
.headerContent .headerLogo a{
    display:block;
    width:140px;
    height:38px;
    background-image:url(../images/langmartlogo.png);
    background-repeat:no-repeat;
   
}
.headerNav{float:right;}
.headerNav ul{margin:0;
    padding:0;
    list-style:none;
}
.headerNav ul li{float:left;
   
    
}
.headerNav ul li a{line-height:38px;
    font-size:14px;
    color:rgb(102,102,102);
padding-right:20px;
padding-left:20px;
text-decoration:none;
font-weight: bold;}

.headerNav ul li a:hover{color: rgb(62,62,62);}

.clear{
    clear:both;
}

.headerNav ul .button a{
    width:78px;
    height:28px;
    background-image:url(../images/button1gradient.png);
    background-repeat:repeat-x;
    border:1px solid #000;
    border-radius:4px;
    font-size:14px;
    color:#fff;}
    .headerNav ul .button a:hover{
        font-weight: 500;
        color: #fff;

    }
.banner{
        width:940px;
    margin:0 auto;
    margin-bottom:25px;
   
    }

.banner .bannerSlider 
{
    height:275px;
}

.banner .bannerContent{
    height:215px;
}
.banner .bannerSlider .sliderWrapper{
    height:250px;
}

.sliderButtons ul{margin:0;
    padding:0;
    list-style:none;
}

.sliderButtons ul li{float:left;}

.sliderButtons ul li a{
    display:block;
    width:13px;
height:13px;
background-image:url(../images/radiobg.png);
background-repeat:no-repeat;
background-position:center;}

.sliderButtons ul{position:relative;
    left:50%;
    width:50px;
}

.sliderButtons ul li a:hover{
    background-image:url(../images/radiochecked.png);
    background-repeat:no-repeat;
    background-position:center;
}
.bannerContentHeader1,.bannerContentHeader2{
    font-size:24px;
    font-family:'Roboto';
    display:block;
    text-align:center;
    color:rgb(102,102,102);
    
}
.bannerContentHeader2{font-size:30px;
    padding-bottom:30px;
}
.bannerContentbutton1{display:block;
text-align:center;
    background-image:url(../images/signuphr.png);
    background-repeat:no-repeat;
    background-position:center center;
    margin-bottom:30px;
}
.bannerContentbutton1 a{text-decoration:none;
font-family:'Roboto';
font-size:14px;
color:rgb(63,63,63);
background-color:rgb(247,247,247);
padding:13px 20px 13px 20px;
border-radius:8px;
}

.translationButton ul{
margin:0;
padding:0;
list-style:none;
    padding-left:190px;
    
}
.translationButton ul li{
    float:left;
    color:rgb(102,102,102);
    padding-right:15px;
    line-height:50px;
}
.translationButton ul li a{text-decoration:none;
    color:#fff;
    font-size:16px;
    font-family:'Roboto';
    background-image:url(../images/buttongradient1.png);
border:1px solid rgb(153,34,17);
border-radius:8px;
height:48px;
display:block;
    width:248px;
    text-align:center;
}

.section{background-image:url(../images/sectiongradient.png);
    background-repeat:repeat-x;
    
    box-shadow:1px 0 6px rgba(0,0,0,.4);
    margin-bottom: 45px;
}
.sectionContent{
    width:940px;
    margin:0 auto;
}
.sectionContent ul{margin:0;
    padding:0;
    list-style:none;
    padding-top:20px;
    padding-bottom:30px;
}
.sectionContent ul li{float:left;
width:210px;
margin-right:20px;
}

.sectionImg1{height:160px;
background-image:url(../images/sectioneclipse1.png);
background-repeat:no-repeat;
     margin-bottom:20px;
background-position:center center;}
.sectionImg2{
    background-image:url(../images/sectioneclipse2.png);
background-repeat:no-repeat;
background-position:center center;
    height:160px;
     margin-bottom:20px;
}
.sectionImg3{
    background-image:url(../images/sectioneclipse3.png);
background-repeat:no-repeat;
background-position:center center;
    height:160px;
     margin-bottom:20px;
}
.sectionImg4{
    background-image:url(../images/sectioneclipse4.png);
background-repeat:no-repeat;
background-position:center center;
    height:160px;
    margin-bottom:20px;
}
.sectiondetailHeader{
color:rgb(245,245,245);    
    font-size:16px;
    display:block;
    text-align:center;
 
}
.detailContent{
    font-size:12px;
    color:rgb(187,187,187);
    text-align:left;
}
.detailContent a{
    text-decoration:none;
    color:rgb(201,201,201);
    display:block;
           padding-top:15px;
}
hr{background-image:url(../images/hr.png);
background-repeat:repeat-x;
border:none;
height:2px;}
.section_1{
 
    width: 940px;
    margin: 0 auto;
   

}
.section_1Content{ margin-bottom:50px;}
.location{
    width: 605px;
    float: left;
    margin-right: 25px;


}
.providers{
  width: 270px;
    float: left;

}
.location span{
    font-size:21px;
    color:rgb(180,180,180);
}
.providers ul{
    list-style:none;
    margin:0;
    padding:0;
    
}
.locationWrapper img{width: 605px;}

.providers ul li{
    padding-left: 60px;
    padding-bottom: 30px;
    font-family:'arial' 'helvetica';
    font-size: 13px;
    display: block;
    color: rbg(34,34,34);

}
ul li.providerHeader{
    color:rgb(221,68,34);
    font-weight:bold;
    font-size:18px;
   width: 270px;
    font-family: 'Roboto';
    padding-left: 0;
    padding-bottom: 15px;
    
}
.providerHeader hr{
    background-image: none;
    background-color: rgb(235,235,235);
}

ul li.pro1{
    background-image: url(../images/pro1.png);
    background-repeat: no-repeat;
    background-position: left top;
}
ul li.pro2{
    background-image: url(../images/pro2.png);
    background-repeat: no-repeat;
    background-position: left top;
}
ul li.pro3{
    background-image: url(../images/pro3.png);
    background-repeat: no-repeat;
    background-position: left top;
}

ul li.pro4{
    background-image: url(../images/pro4.png);
    background-repeat: no-repeat;
    background-position: left top;
}

ul li.pro5{
    background-image: url(../images/pro5.png);
    background-repeat: no-repeat;
    background-position: left top;
}

ul li.pro6{
    background-image: url(../images/pro6.png);
    background-repeat: no-repeat;
    background-position: left top;
}
.providers ul li span{display: block;
font-size: 11px;
color: rgb(136,136,136);}

.section_2{
  
    background-color:rgb(221,221,221);
}
.section_2Content{
    width:940px;
    margin:0 auto;
}
.section_1Buttons{margin-bottom:40px;}
.section_2ContentHeader{font-size:24px;
color:rgb(34,34,34);
padding-top:45px;
display:block;
text-align:center;
padding-bottom:20px;}
.section_2Details{margin-left:20px;
margin-right:10px;}
.section_2Details ul{

    margin: 0;
    padding: 0;
    list-style: none;
}
.section_2Details ul li{width:430px;

background-color:rgb(255,255,255);
margin-right:25px;
    margin-bottom:25px;
float:left;
border-radius:4px;
box-shadow:0 0 5px rgba(0,0,0,.4);}
.footer{
    height:68px;
    background-image:url(../images/footer-gradient.png);
    background-repeat:repeat-x;
    
}
@font-face{
    font-family: 'Roboto';
    src:local('Roboto'),
    url(../font/Roboto.ttf);
}
.section_2DetailContents{
   padding: 20px;

}
.section_2DetailContents span{
    display: block;
}
.section_2Img{float: left;
box-shadow:0 0 3px 0 rgba(0,0,0,.2);
border-radius: 4px;
margin-right: 20px; }

.section_2Img img{
    padding: 2px;

}
.section_2DetailContents span.heading{
    font-size: 16px;
    padding-bottom: 15px;
}
.section_2DetailContents span.heading+span{
    font-size: 12px;
    color: rgb(136,136,136);
}
.section_2DetailContents span.subHeading{
    display: inline;
    font-size: 14px;
    color: rgb(213,65,2);
}
.footerContent{
    padding-top: 20px;
    margin: 0 auto;
    width: 940px;
     text-align: center;
}

}
.footerContent ul{
    margin: 0;
    padding: 0;
    list-style: none;

}
.footerContent ul li{
    display: inline;
    padding-left: 7px;
    padding-right: 7px;
    color: rgb(200,200,200);
}
.footerContent ul li a{
   color: rgb(200,200,200);
   text-decoration: none;
}