html, body {
	margin: 0 ;
	padding: 0;
	font-family: 'Arial';
}

h1, h2, h3, h4, button,p{
	font-weight: normal;
	margin: 0;
	padding: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}

ul {
	list-style:none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}


@font-face {
	font-family: 'Arial Bold';
	src:url("../font/ArialBold.ttf");
}

.header { 
	background: url(../images/headerGradient.png) repeat-x;
	box-shadow: 0px 1px 0px 0px rgba(187, 204, 255, 1);
	margin-bottom: 40px;
}

.innerContainer {
	width: 990px;
	margin: 0 auto;
}

.header .innerContainer a.bSchoolLogo {
	text-indent: -5000px;
	float: left;
	background: url(../images/bschool_logo.png) no-repeat;
	width:134px;
	height: 32px;
	margin:22px 0;
	margin-right: 96px; 
}

.header .innerContainer a {
	
	font-size: 14px;
	line-height: 22px;
	color: #2255aa;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
	font-weight: 700;
}

.header .innerContainer .topNav {
	float: left;
	margin-top: 11px;
}

.header .innerContainer .topNav .upNav {
	margin-bottom: 6px;
}

.header .innerContainer .topNav .searchWrapper input {
	width: 370px;
	height: 30px;
	padding: 5px 0;
	border: 1px solid #d2d5e9;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15) inset;
	float: left;

}

 .button {
	width:90px;
	height: 30px;
	border: 1px solid #2255aa;
	background:url(../images/buttonGradientSearch.png) repeat-x;
	
	font-size: 14px;
	line-height: 22px;
	color: #fff;
	text-shadow: 0px -1px 0px rgba(34, 85, 170, 1);
	cursor: pointer;

}

.button :hover {
	background: #000;
}

.topNav ul.upNav li {
	float: left;
	margin-right: 20px;
}

.header .innerContainer .connectUs {
	float:right;
	margin-top: 40px;
}

.header .innerContainer .connectUs ul {
	float: left;
}

.header .innerContainer .connectUs ul li {
	float: left;
	margin-right: 15px;
}

.header .innerContainer .connectUs ul li.login {
	margin-right: 20px;
}

.header .innerContainer .connectUs a.tweet {
	float: left;
	width: 20px;
	height: 21px;
	background:url(../images/twitter.png) no-repeat;
	margin-right: 5px;

}

.header .innerContainer .connectUs a.faceBook {
	float: left;
	width: 20px;
	height: 21px;
	background:url(../images/facebook.png) no-repeat;
}



.clearFix {
	clear: both !important;
	float: none !important;
	padding: 0 !important;
	margin:0 !important;
	border: none !important;
	width: 0 !important;
	height: 0 !important;
}


.innerContainer div.leftContainer, div.middleContainer, div.rightContainer {
	float: left;
	
}

div.leftContainer {
	width: 209px;
	border-right: 1px solid #e5e5ee;
}

.innerContainer .leftContainer .mainLogo {
	padding-bottom: 19px;
	border-bottom: 1px solid #e5e5ee;
	margin-bottom: 20px;
	padding-right: 5px;
}

.innerContainer .leftContainer .mainLogo img {
	display: block;
	max-height: 150px;
	max-width: 204px;
}

.innerContainer .leftContainer .collegeInfo a {
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	color: #2255aa;
}

.innerContainer .leftContainer .collegeInfo h3.instituteName {
	margin-bottom: 17px;
	line-height: 18px;
	font-size: 12px;
	margin-right:5px;
}

.innerContainer .leftContainer .collegeInfo h3 a {
	font-weight: bold;
	color: #2255aa;
	line-height: 18px;
}

.innerContainer .leftContainer .collegeInfo h4 {
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	color: #000;
	margin:0 5px 3px 0;
}

.innerContainer .leftContainer .sideNav li {
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1) inset; 
	background: url(../images/linkPointer.png) no-repeat 95% 50%;
	border-bottom: 1px solid rgba(229, 229, 238, 1) ;
}

.innerContainer .leftContainer .sideNav li a {
	font-size: 12px;
	line-height: 18px;
	color: #2255aa;
	font-weight: bold;
	padding: 6px 0;
	display:block; 
}

.innerContainer .leftContainer .sideNav li a:hover {
	color: #000;
}

.collegeInfo p {
	font-size: 12px;
	line-height: 18px;
	color: #959595;
	margin-right: 5px;
}

.pageRepo {
	margin-bottom: 17px;
	margin-right: 5px;
}

.innerContainer .leftContainer .collegeInfo .CounterButton {
	float: left;
	width: 48px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
	color: #fff;
	background: url(../images/counterButton.png) repeat-x;
	padding: 2.5px 0;
	border: 1px inset #2255aa;
	border-radius: 3px;
}

.counter {
	float: left;
	text-align: center;
	background: url(../images/counterBackground.png) no-repeat center center;
	background-size: 100% 100%;
	font-size: 12px;
	line-height: 18px;
	width: 42px;
	padding: 4.5px 0;
	color: #000;
	margin-right: 5px;
}

.sideNav li div {
	float: left;
}


.overview, .faculty, .infra , .teach , .exchange, .loc, .curricul, .global, .corporate, .alumini, .board, .placement {
	width: 17px;
	height: 17px;
	margin-right: 5px;
	
	
}

.overview {
	background: url(../images/oveview.png) no-repeat;
}

.faculty {
	background: url(../images/Faculty.png) no-repeat;
}

.infra {
	background: url(../images/infra.png) no-repeat;
}

.teach {
	background: url(../images/teaching.png) no-repeat;
}

.exchange {
	background: url(../images/student.png) no-repeat;
} 

.loc {
	background: url(../images/location.png) no-repeat;
} 

.curricul {
	background: url(../images/curriculum.png) no-repeat;
} 

.global {
	background: url(../images/infra.png) no-repeat;
} 

.corporate {
	background: url(../images/corporate.png) no-repeat;
} 

.alumini {
	background: url(../images/alumuni.png) no-repeat;
} 

.board {
	background: url(../images/board.png) no-repeat;
} 

.placement {
	background: url(../images/placement.png) no-repeat;
}

h4.heading {
	font-weight: bold;
	font-size: 14px;
	color: #000;
	line-height: 19px;
	padding:6px 5px 6px 10px;
	background: url(../images/heading-Gradient.png) repeat-x;
	text-shadow: 0px 1px 0px rgba(229, 229, 238, 1);

}

.factFigures ul li .label {
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
	color: #959595;
	float: left;
	width: 140px;
}

.factFigures ul li .values {
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	float: right;
	margin-right: 10px;
	width: 25px;
}

.facultyProfiles h4 {
	font-weight: bold;
	font-size: 14px;
	color: #000;
	line-height: 18px;
	background-color: #ccddff;
	border: 1px solid #e8e8e8;
}

ul.profilePics li {
	float: left;
	width: 48px;
	height: 48px;
	border: 1px solid #e5e5ee;
	margin-right: 1px;
}

ul.profilePics li img {
	max-width: 48px;
	max-height: 48px;
	display: block;

}



div.middleContainer {
	padding: 0 19px;
	width: 460px;
	float: left;
	border-left: 1px solid #E5E5EE;
	margin-left: -1px;
	border-right: 1px solid #E5E5EE;

}

ul.tabPanel {
	background: url(../images/tabBackground.png) repeat-x;
	border-bottom: 1px solid #ccddff;
	padding:4px 0 0 4px; 
	margin-bottom: 14px;
	height: 27px;

}

ul.tabPanel li {
	float: left;
	margin-right: 5px;
	min-width: 50px;
	border: 1px solid #bbccff;
	border-bottom: none;
	background-color: #fff;

}

ul.tabPanel li a {
	display: block;
	font-size: 12px;
	line-height: 18px;
	color: #2255aa;
	padding: 4px 9px;
}

ul.tabPanel li a:hover {
	color: #0460fa;
}

ul.tabPanel li.chat {
	margin-top: 1px;

}

ul.tabPanel li.clearFix {
	float: none;
	margin: 0;
	width: 0;
	border: none;
}



div.middleContainer ul.post li {
	padding: 7px 0;
	border-bottom: 1px solid #e5e5ee;

}

li .postImage {
	float: left;
	width: 33px;
	height: 33px;
	border: 1px solid #d2d5e9;
	margin-right: 10px;
}
 li .postImage img {
	max-height: 33px;
	max-width: 33px;
	display: block;
}

div.middleContainer ul.post li .postContent {
	width: 415px;
	float: left;
}

.postHeading {
	font-size: 12px;
	line-height: 18px;
	color: #bbbbbb;
	margin-bottom: 5px;
}

 a.schoolTitle {
	font-size: 12px;
	line-height: 18px;
	color: #2255aa;
}

p.postData {
	font-size: 12px;
	line-height: 18px;
	color: #959595;
	margin-bottom: 10px;
}

.subPostImage {
	float: left;
	margin-right: 10px;
	width: 48px;
	height: 48px;
}

.subPostImage img {
	max-height: 48px;
	max-width: 48px;
	display: block;
}

.subpostContent {
	float: left;
	width: 325px;
}

.like {
	background: url(../images/likeicon.png) no-repeat center;
	width: 10px;
	height: 10px;
	float: left;
	padding-top: 8px;
	margin-right: 5px;
}

.date, .likeSuffix {
	float: left;
	font-size: 12px;
	line-height: 18px;
	color: #bbbbbb;
}

.likeSuffix {
	
	padding: 1px 0;
	 }

.rightposition {
	float: right;
}

.rightposition a {
	float: left;
	width: 70px;
	margin-right: 5px;
}

.likeCounter {
	font-size: 12px;
	line-height: 18px;
	color: #2255aa;
	float: left;
	
}

div.rightContainer {
	width: 260px;
	float: left;
	padding-left: 19px;
	border-left: 1px solid #E5E5EE;
	margin-left: -1px;
}

h3.heading {
	font-size: 14px;
	font-weight: bold;
	color: #000;
	margin-bottom: 10px;
	line-height: 19px;
	padding:6px 5px 6px 10px;
	background: url(../images/heading-Gradient.png) repeat-x;
}

div.rightContainer ul.listBschool {
	margin-bottom: 25px;
}

div.rightContainer ul.listBschool li {
	margin-bottom: 10px;
}

div.postElement {
	float: left;
	width: 210px;
}


div.loansNScholar {
	margin-bottom: 20px;
}

div.loansNScholar h3 {
	font-size: 16px;
	margin-bottom: 10px;
}


div.loansNScholar p {
	font-size: 12px;
	line-height: 18px;
	color: #959595;
}

div.loansNScholar .button {
	float: left;
	width: 88px;
	height: 22px;
	text-align: center;
	line-height: 22px;
	font-size: 14px;
	padding: 3px 0;
	margin-right: 10px;

}

.buttonSub {
	float: left;
	font-size: 12px;
	line-height: 18px;
	color: #959595;
	margin: 6px 0;
}
.buttonSub a {
		color:#2255aa;
	}

.tipWeek {
	padding-bottom: 20px;
	border-bottom: 1px solid #E5E5EE;
	margin-bottom: 5px;
}

.tipWeek a.button {
	display: block;
	font-size: 14px;
	line-height: 22px;
	width: 136px;
	height: 22px;
	padding: 3px 0;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 20px;
}

.tip {
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.footer{
	min-height: 85px;
	background: url(../images/footerGradient.png) repeat-x;
	margin-top: 20px;
}

.footer ul {
	
	float: left;
}

.footer ul li {
	float: left;
	margin-right: 20px;
	
}
.footer ul li a {
	color: #2255aa;
	
	font-size: 14px;
	line-height: 22px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}

a.sponSer {
	float: left;
	width: 62px;
	height: 18px;
	background: url(../images/poweredBy.png) no-repeat;
}

span.sponserPre {
	float: left;
	width: 73px;
	font-size: 12px;
	line-height: 18px;
	color: #959595;
	
}

.postSource span {
	float: left;
	font-size: 12px;
	color: #bbbbbb;
	margin-right: 4px;
}

.postSource a {
	float: left;
	font-size: 12px;
	color: #2255aa;
}

a.socialIconFb {
	float: left;
	width: 14px;
	height: 14px;
	background: url(../images/facebookicon.png) no-repeat;
	margin-right: 5px;
}

a.socialIconTwtr {
	float: left;
	width: 14px;
	height: 14px;
	background: url(../images/twitterIcon.png) no-repeat;
		margin-right: 5px;
}

.socialStat {
	margin-bottom: 10px;
}

p.subData {
	margin-bottom: 20px;
}

p.superData {
	margin-bottom: 5px;
}

div.collegeInfo {
	margin-bottom: 25px;
}

ul.sideNav {
	margin-bottom: 20px;
	border-top: 1px solid rgba(229, 229, 238, 1);
}

.factFigures ul {
	margin-bottom: 20px;
}


span.clearFix {
	float: none;
	clear: both;
	display: block;
	padding: 0;
	margin: 0;
}

.factFigures ul li {
	padding: 6px 0;
	box-shadow: 0px 1px 0px 0px rgba(229, 229, 238, 1); 

}

li.slideUp a {
	display: block;
	background: url(../images/slideup.png) no-repeat center center;
	height: 18px;
}

li.slideDown  a {
	display: block;
	background: url(../images/slidedown.png) no-repeat center center;
	height: 18px;
}

li.slideUp, li.slideDown  {
	background-color:#f5f5f5;
	 }
div.dean {
	margin:0 5px 6px 0;
}

div.motto {
	margin-bottom: 14px;
}

.facultyProfiles h4 {
	margin-bottom: 9px;
}

.mainLogo a {
	display: block;
}

li.detailsPackge div {
	
	padding: 3px 0;
}

.subLabel {
	font-size:12px;
	float: left;
	color: #959595;
}


.detailsPackge .label {
	padding: 3px 0;
}

ul.footRightNav li a {
	font-size: 12px;
}

.copyRight {
	float: left;
	font-size: 12px;
	line-height: 22px;
	color: #959595;
	width: 90px;
}

.footer ul li.clearFix {
	float: none;
	clear: both;
	margin: 0;
	padding: 0;
}

.rightMove {
	float: right;
}

.footer .innerContainer {
	padding-top: 20px;
}

a:hover {
	opacity: .8;
	}


.searchWrapper .button {
	float: left;
	margin-left: -1px;
}

a.active {


}

div.loc+div {
	width: 50px
}

.sideNav li div+div {
	width: 175px;
}

a.postLink {
	display: block;
	font-size: 12px;
	line-height: 18px;
	color: #25A;
}

li.subContainer {
	padding: 0 !important;
	border: none !important;
}



ul.footleftNav {
	width: 450px
}

ul.footRightNav {
	width: 350px;
}